aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
cachetools
certifi
chardet
charset-normalizer
colorama
deep-translator
discord-typings
discord.py
emoji
frozenlist
futures
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
multidict
pyjokes
python-box
python-dateutil
python-dotenv
requests
rfc3986
six
sniffio
soupsie
tomli
typing_extensions
urllib3
yarl
